.show-height {
  height: 70vh;
  overflow: auto;
}

.user {
  display: inline;

  p {
    font-size: 14px;
    margin: 0;
  }
}

.friends-tagged .tag {
  background-color: $light-gray;
  padding: 3px;
  margin-right: 3px;
  font-weight: 500;
}
