

<div class="search-container">
  <%= render 'shared/search_bar' %>
</div>
<div class="scrollable pr-1 mt-3 d-flex flex-column align-items-center justify-content-center">
  <div class="scrolling-wrapper-flexbox">
    <% @friends.each do |friend| %>
    <div class="card d-flex flex-column align-items-center justify-content-around">
      <%= cl_image_tag friend.avatars.last.photo.key %>
      <p>@<%= friend.username %></p>
      <span class="checkbox" data-key="<%= friend.avatars.last.id %>"><i class="far fa-check-circle fa-2x"></i></span>
    </div>
    <% end %>
  </div>
</div>
