<div class="take-photo">
  <div class="d-flex justify-content-center align-items-end hidden">
    <span class="capture-button" data-action="click->ar-overlay#takePhoto" id="display-viewfinder-elements">
        <span class="outer-button d-flex justify-content-center align-items-center">
        <span class="inner-button"></span></span>
    </span>
  </div>
</div>

