<div class="take-photo">
  <div class="d-flex justify-content-center align-items-end hidden">
    <span class="capture-button" data-action="click->ar-overlay#takePhoto" id="display-viewfinder-elements">
        <span class="outer-button d-flex justify-content-center align-items-center">
        <span class="inner-button"></span></span>
    </span>
  </div>

  <div class="reset-btn d-flex justify-content-center">
      <i class="fas fa-redo-alt h2 viewfinder-icon"></i>
  </div>

  <!-- <div class="collapse-wrapper hidden">
    <i class="fas fa-eye-slash collapse-btn" id="collapse-viewfinder-elements"></i>
    <i class="fas fa-eye collapse-btn hidden" id="display-viewfinder-elements"></i>
  </div> -->
</div>

