<div class="take-photo d-flex justify-content-center align-items-end">
  <span class="capture-button">
    <span class="outer-button d-flex justify-content-center align-items-center">
      <span class="inner-button"></span></span>
    </span>
  </div>
