<!-- Bootstrap Modal -->
<div class="photo-preview">
  <div class="modal fade" id="exampleModalCenter" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Preview</h5>
          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"> -->
            <!-- <span aria-hidden="true"><i class="fas fa-times"></i></span> -->
          <!-- </button> -->
        </div>
        <div class="modal-body">
          <!-- Portrait image -->
          <!-- <img class="modal-image" src="https://res.cloudinary.com/asdfghjk/image/upload/v1600790981/memories_sample/29AC732C-562F-4D8C-9DDA-00DCE0DE76E2_gmb9j2.jpg" alt=""> -->

          <!-- Landscape image -->
          <img class="modal-image" src="https://images.unsplash.com/photo-1508672019048-805c876b67e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1093&q=80" alt="">
        </div>
        <div class="modal-footer d-flex justify-content-center">

          <!-- This tag would dismiss the modal -->
          <button type="button" class="btn" data-dismiss="modal">
            <i class="fas fa-undo-alt"></i>
            <span>Retake</span>
          </button>

          <!-- To add a link to publish image -->
          <button type="button" class="btn active">
            <i class="fas fa-upload"></i>
            <span>Publish</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
