.import-button {
  position: fixed;
  right: 10px;
  width: 10%;
  opacity: 95%;
  z-index: 999;
}

.import-button:hover {
  color: $pale-red;
  opacity: 0.7;
}

.camera-cart {
  position: relative;
}

.camera-cart .camera {
  color: $gray;
}

.camera-cart .counter.active {
  position: absolute;
  height: 24px;
  width: 24px;
  top: 17px;
  left: 23px;
  margin: auto;
  background: $pale-red;
  border-radius: 50%;
  text-align: center;
  color: $white;
  font-size: 14px;
  font-weight: 100;
}
