.form-login {
  background: white;
  // padding: 8px 24px;

  h2 {
    text-align: center;
  }

  a {
    color: $gray;
  }

  a:hover {
    color: $mid-gray;
    text-decoration: none;
  }
}

.form {
  // height: 70vh;
  margin: 100px 24px 0 24px;
}
