.header {
  position: fixed;
  top: 0;
  width: 100vw;
  text-align: center;
  background-color: $white;
  z-index: 998;
}

.top-right-icon {
  position: fixed;
  right: 20px;
  top: 20px;
  color: $gray;
  z-index: 999;

  a, a:active, a:visited {
    color: $gray;
    transition: opacity 0.3s linear-in-out;
  }

  a:hover {
    opacity: 0.7;
  }

  .dropdown-item {
    color: $gray;

    a {
      font-size: 12px !important;
    }
  }
}

// Used for brand logo.
.header .brand-log.top-left-icon {
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 999;
}
