.import-button {
  position: fixed;
  right: 24px;
  top: 18px;
  // width: 10%;
  opacity: 95%;
  opacity: 0.9;
  z-index: 998;
}

.import-button:hover {
  color: $pale-red;
  opacity: 0.7;
}

.camera-cart {
  .camera {
    color: $gray;
    z-index: 999;

    .counter {
    position: absolute;
    height: 20px;
    width: 20px;
    bottom: -4px;
    right: -4px;
    }
  }

  .active {
    background: $pale-red;
    border-radius: 50%;
    text-align: center;
    color: $white;
    font-size: 14px;
    font-weight: 100;
    z-index: 1;
  }
}
