.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-wrapper {
  width: 50%;
  margin: 0 auto;
}

.bottom-navbar {
  background: $light;
  width: 160px;
  opacity: 0.9;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 24px;
  padding: 8px 16px;
  font-size: 28px;
  position: fixed;
  bottom: 40px;

  p, a, a:visited, a:active {
    font-size: 28px;
    color: $gray;
    transition: color 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
  }

  a:hover {
    color: $pale-red;
    opacity: 0.7;
  }

  .active {
    color: $pale-red;
  }
}
