//Notification alert.
.modal-body {
  .avatar-thumbnail {
    margin: 0 8px;
  }

  .memory-sm {
    margin: 0 8px;
  }

  strong {
    font-weight: 700;
  }
}


//Notifications page.
.notifications-list {

}
