h1 {
  font-family: 'Asap', sans-serif;
  font-size: 36px;
  font-weight: 500;
}

h2 {
  font-family: 'Asap', sans-serif;
  font-size: 24px;
  font-weight: 600;
}

h3 {
  font-family: 'Asap', sans-serif;
  font-size: 20px;
  font-weight: 600;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

// This is for the login page
.form-body {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.brand-slogan {
  font-size: 14px;
  font-weight: 700px;
  text-align: center;
}

// This is for the heading of the modal (_photo_preview.html.erb)
h5 {
  font-family: 'Asap', sans-serif;
  font-size: 20px;
  font-weight: 600;
}

// This is for the buttons of the modal (_photo_preview.html.erb)
.photo-preview .modal-content {
  button {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  }
}

.viewfinder-icon {
  color: $white;
  opacity: 1;
  filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.1));
}

.comment {
  .commenter {
    color: $pale-red;
    font-family: 'Montserrat', sans-serif;
    // font-weight: 200;
    font-size: 14px;
    font-weight: 500;
    opacity: 0.8;
  }

  .time-container {
    width: 15%;

    .time {
      // width: 20vw;
      font-size: 10px;
      font-weight: 200;
      opacity: 0.7;
    }
  }
}
