<div id="ar-overlay" data-controller="ar-overlay">

  <div class="exit-camera">
    <button data-action="click->ar-overlay#exitCamera">
      <span class="top-right-icon">
        <%= link_to friends_path do %>
          <i class="fas fa-times fa-2x"></i>
        <% end %>
      </span>
    </button>
  </div>

  <!-- <div class="selected-avatar"></div> -->
  <div class="avatar-list py-2">
    <% avatars.each_with_index do |avatar, index| %>
      <div data-avatar-id="#avatar-<%=index%>" data-action="click->ar-overlay#getIndex">
        <%= cl_image_tag avatar, crossorigin: 'anonymous', width: 50, crop: "scale" %>
      </div>
    <% end %>
  </div>

  <%= render 'shared/camera_shutter' %>

</div>
