<div id="ar-overlay" data-controller="ar-overlay">

  <div class="exit-camera">
    <%= link_to friends_path do %>
    <span class="top-right-icon">
      <i class="fas fa-times fa-2x"></i>
    </span>
    <% end %>
  </div>

  <!-- <div class="selected-avatar"></div> -->
  <div class="avatar-list py-2">
    <% avatars.each_with_index do |avatar, index| %>
    <div data-avatar-id="#avatar-<%=index%>" data-action="click->ar-overlay#getIndex">
      <%= cl_image_tag avatar, class: 'img-responsive', crossorigin: 'anonymous', width: 50, crop: "scale" %>
    </div>
    <% end %>
  </div>

  <%= render 'shared/camera_shutter' %>

</div>
