<div class="header pt-4 pb-2 text-center">
  <h2>Community</h2>

  <div class="top-right-icon">
    <% if current_user %>
    <%= link_to destroy_user_session_path, method: :delete do %>
    <i class="fas fa-sign-out-alt fa-2x"></i>
    <% end %>
    <% else %>
    <%= link_to user_session_path do %>
    <i class="fas fa-sign-in-alt fa-2x"></i>
    <% end %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="memories-container">
    <% @memories.each do |memory| %>
    <div class="memories-card">
      <div class="content">
        <%= link_to(memory_path(memory.id)) do %>
          <%= cl_image_tag memory.photo.key %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
